<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <h3 class="col-md-12 col-lg-12 col-xs-12 col-sm-12 text-center"><span class="parallax-text">PATROCÍNIO</span><span class="parallax-text blue">GOLD</span></h3>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-4 col-md-offset-5 col-xs-offset-4 col-lg-offset-5">
        <a href="http://www.thoughtworks.com/pt/" class="external" title="ThoughtWorks">
            <img alt="ThoughtWorks" src="{{ "/img/sponsors/thoughtworks.png" | prepend: site.baseurl | replace: '//', '/' }}" width="290" height="290" class="img-circle img-responsive" />
        </a>
      </div>
    </div>

    <div class="row">
      <h3 class="col-md-12 col-lg-12 col-xs-12 col-sm-12 text-center"><span class="parallax-text">PATROCÍNIO</span><span class="parallax-text green">BRONZE</span></h3>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-4 col-lg-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
        <a href="http://hemobile.com.br" class="external" title="HE:Mobile">
          <img alt="HE:Mobile" src="{{ "/img/sponsors/he-mobile.png" | prepend: site.baseurl | replace: '//', '/' }}" width="290" height="290" class="img-circle img-responsive" />
        </a>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-4 col-lg-2">
        <a href="http://oncedev.com.br" class="external" title="Oncedev">
          <img alt="Oncedev" src="{{ "/img/sponsors/oncedev.png" | prepend: site.baseurl | replace: '//', '/' }}" width="290" height="290" class="img-circle img-responsive" />
        </a>
      </div>

      <!-- <div class="col-md-2 col-sm-2 col-xs-4 col-lg-2"> -->
      <div class="col-md-2 col-sm-2 col-xs-4 col-lg-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 ">
        <a href="http://www.quebecnacabeca.com/pt/" class="external" title="Quebec">
          <img alt="Quebec" src="{{ "/img/sponsors/quebec.png" | prepend: site.baseurl | replace: '//', '/' }}" width="290" height="290" class="img-circle img-responsive" />
        </a>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-4 col-lg-2">
        <a href="http://www.locmobbi.com.br/" class="external" title="Locmobbi">
          <img alt="Locmobbi" src="{{ "/img/sponsors/locmobbi.png" | prepend: site.baseurl | replace: '//', '/' }}" width="290" height="290" class="img-circle img-responsive" />
        </a>
      </div>
    </div>
    <div class="row">

      <div class="col-md-2 col-sm-2 col-xs-4 col-lg-2 col-lg-offset-3 col-xs-offset-2 col-sm-offset-3 col-md-offset-3 ">
        <a href="http://www.oxenti.com.br/site/" class="external" title="Oxenti Solutions">
          <img alt="Oxenti Solutions" src="{{ "/img/sponsors/oxenti.png" | prepend: site.baseurl | replace: '//', '/' }}" width="290" height="290" class="img-circle img-responsive" />
        </a>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-4 col-lg-2">
        <a href="http://www.oxenti.com.br/site/" class="external" title="TecnoTrends Tecnologia Educacional">
          <img alt="TecnoTrends Tecnologia Educacional" src="{{ "/img/sponsors/tecnotrends.png" | prepend: site.baseurl | replace: '//', '/' }}" width="290" height="290" class="img-circle img-responsive" />
        </a>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-4 col-lg-2">
        <a href="mailto:linguagil@linguagil.com.br" title="Torne-se nosso patrocinador">
          <img alt="Torne-se nosso patrocinador" src="{{ "/img/sponsors/be-a-sponsor.png" | prepend: site.baseurl | replace: '//', '/' }}" width="290" height="290" class="img-circle img-responsive" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <p>Acompanhe-nos nas redes sociais</p>
        <ul class="list-inline">
          <li><a href="{{ site.facebook_username }}" rel="external"><i class="fa fa-facebook fa-3x"></i></a></li>
          <li><a href="{{ site.twitter_username }}" rel="external"><i class="fa fa-twitter fa-3x"></i></a></li>
        </ul>
        <div class="top-scroll">
          <a href="#top" data-animation="scroll"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
        </div>
        <hr>
        <p>Copyright &copy; Grupo LinguÁgil 2013</p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<!-- build:js js/plugins.js -->
<script type="text/javascript" src="{{ "/bower_components/fastclick/lib/fastclick.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
window.jQuery || document.write('<script type="text/javascript" src="{{ "/bower_components/jquery/jquery.min.js" | prepend: site.baseurl | replace: '//', '/' }}"><\/script>');
/*]]>*/
</script>

<script src="{{ "/bower_components/mediaelement/build/mediaelement-and-player.min.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
<script src="{{ "/bower_components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
<script type="text/javascript" src="{{ "/bower_components/gmaps/gmaps.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) js/scripts.js -->
<script src="{{ "/js/main.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
<!-- endbuild -->

<script type="text/javascript" src="http://sawpf.com/1.0.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46291927-1', 'linguagil.com.br');
  ga('send', 'pageview');
</script>

